@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9FAFB;
  --secondary-background:#fff;
  --foreground: #171717;
  --chart-primary:#4F46E5;
  --chart-hover:#808DF8;
  --chart-secondary:#4F45EF;
  --text-primary-dark:#121A28;
  --text-secondary-dark:#1F2634;
  --text-gray-secondary:#777879;
  --text-blue:#1D6FAD;
}

body {
  color: var( --text-primary-dark);
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
}
